body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:515px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:370px;
  top:162px;
  width:145px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
