body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1113px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:360px;
  top:80px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:240px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:600px;
  top:240px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:370px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:410px;
  top:140px;
  width:-210px;
  height:100px;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u8_seg1 {
  position:absolute;
  left:-220px;
  top:80px;
  width:230px;
  height:20px;
}
#u8_seg2 {
  position:absolute;
  left:-220px;
  top:80px;
  width:20px;
  height:24px;
}
#u9 {
  position:absolute;
  left:-115px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:410px;
  top:140px;
  width:240px;
  height:100px;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u10_seg1 {
  position:absolute;
  left:-10px;
  top:80px;
  width:260px;
  height:20px;
}
#u10_seg2 {
  position:absolute;
  left:230px;
  top:80px;
  width:20px;
  height:24px;
}
#u11 {
  position:absolute;
  left:30px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:300px;
  width:0px;
  height:70px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:150px;
  top:490px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:660px;
  width:100px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:280px;
  top:660px;
  width:100px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:200px;
  top:430px;
  width:0px;
  height:60px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:150px;
  top:520px;
  width:-80px;
  height:140px;
}
#u22_seg0 {
  position:absolute;
  left:-90px;
  top:-10px;
  width:94px;
  height:20px;
}
#u22_seg1 {
  position:absolute;
  left:-90px;
  top:-10px;
  width:20px;
  height:154px;
}
#u23 {
  position:absolute;
  left:-130px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:250px;
  top:520px;
  width:80px;
  height:140px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u24_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:154px;
}
#u25 {
  position:absolute;
  left:30px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:800px;
  width:100px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:280px;
  top:800px;
  width:100px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:70px;
  top:720px;
  width:0px;
  height:80px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:330px;
  top:720px;
  width:0px;
  height:80px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:70px;
  top:860px;
  width:0px;
  height:80px;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:940px;
  width:100px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:1070px;
  width:100px;
  height:60px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:190px;
  top:1070px;
  width:100px;
  height:60px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:20px;
  top:970px;
  width:50px;
  height:100px;
}
#u42_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u42_seg1 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:20px;
  height:110px;
}
#u42_seg2 {
  position:absolute;
  left:-20px;
  top:80px;
  width:80px;
  height:20px;
}
#u42_seg3 {
  position:absolute;
  left:40px;
  top:80px;
  width:20px;
  height:24px;
}
#u43 {
  position:absolute;
  left:-60px;
  top:67px;
  width:100px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:120px;
  top:970px;
  width:120px;
  height:100px;
}
#u44_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:134px;
  height:20px;
}
#u44_seg1 {
  position:absolute;
  left:110px;
  top:-10px;
  width:20px;
  height:114px;
}
#u45 {
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:860px;
  top:240px;
  width:100px;
  height:60px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:410px;
  top:140px;
  width:500px;
  height:100px;
}
#u48_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u48_seg1 {
  position:absolute;
  left:-10px;
  top:80px;
  width:520px;
  height:20px;
}
#u48_seg2 {
  position:absolute;
  left:490px;
  top:80px;
  width:20px;
  height:24px;
}
#u49 {
  position:absolute;
  left:160px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:860px;
  top:380px;
  width:100px;
  height:60px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:700px;
  top:380px;
  width:100px;
  height:60px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1020px;
  top:380px;
  width:100px;
  height:60px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:910px;
  top:300px;
  width:-160px;
  height:80px;
}
#u56_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u56_seg1 {
  position:absolute;
  left:-170px;
  top:60px;
  width:180px;
  height:20px;
}
#u56_seg2 {
  position:absolute;
  left:-170px;
  top:60px;
  width:20px;
  height:24px;
}
#u57 {
  position:absolute;
  left:-100px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:910px;
  top:300px;
  width:0px;
  height:80px;
}
#u58_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u59 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:910px;
  top:300px;
  width:160px;
  height:80px;
}
#u60_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u60_seg1 {
  position:absolute;
  left:-10px;
  top:60px;
  width:180px;
  height:20px;
}
#u60_seg2 {
  position:absolute;
  left:150px;
  top:60px;
  width:20px;
  height:24px;
}
#u61 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
