body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:134px;
  top:120px;
  width:14px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:140px;
  top:90px;
  width:338px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
