body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:90px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:240px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:350px;
  top:150px;
  width:0px;
  height:90px;
}
#u4_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u5 {
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
