body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:171px;
  top:192px;
  width:49px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:171px;
  top:272px;
  width:49px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:171px;
  top:100px;
  width:49px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
